{
  "extends": ["react-app"],
  "rules": {
      "indent": ["error", 2, {
          "ignoredNodes": ["TemplateLiteral"]
      }],
      "no-console": "error",
      "no-param-reassign": "error",
      "no-var": "error"
  }
}